name: Swift Transformers Unit Tests

on:
  workflow_call:

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build --vv --build-tests
    - name: Run tests
      env:
        CI_DISABLE_NETWORK_MONITOR: 1
        HF_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
      run: swift test --vv --skip-build
